[Unit]
Description=Divider Sensors Service
After=network.target docker.service

[Service]
ExecStart=/etc/divider-sensors/divider-sensors-microservice
Environment="CONTACTS_CONFIG_FILE=/home/pi/Users/code/go/src/github.com/byuoitav/divider-sensors-microservice/config.json"

[Install]
WantedBy=multi-user.target
